<h2 style="text-align: center;" *ngIf="college">{{college.name}}</h2>

<button type="button" class="btn btn-success" (click)="open(Add)">New Course</button>
<button type="button" style="float: right;" class="btn btn-dark" (click)="backClicked();">Go Back</button>
<table class="table">
   <thead class="thead-dark"  >
     <tr>
       
       <th scope="col">Id</th>
       <th scope="col">Course</th>
       <th scope="col">Options</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let course of courses">
       
       <td>{{course.id}}</td>
       <td>{{course.name}}</td>
       <td>
           <button type="button" class="btn btn-warning m-2" (click)="open(content);coursedto.id = course.id">Edit</button>
           <button type="button" class="btn btn-info m-2" routerLink="subjects/{{course.id}}" >Subjects</button>
           <button type="button" class="btn btn-danger m-2" (click)="open(remove);coursedto.id = course.id;coursedto.name = course.name;">Delete</button>
       </td>
     </tr>
     
   </tbody>
 </table>

 <ng-template #Add let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Course</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="AddCourse()" #form="ngForm">
      <label for="College">Add new College</label>
      <input class="form-control" placeholder="Course Name" name="name" [(ngModel)]="coursedto.name">
      <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close('')">Save</button>
    </div>
  </form>
</div>
  </ng-template>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update name</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="Edit()" #form="ngForm">
      
            <input class="form-control" placeholder="Course Name" name="name" [(ngModel)]="coursedto.name">
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div>
  </form>
</div>
  </ng-template>

  <ng-template #remove let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Remove Course</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="modal-body"><p><strong>Are you sure you want to delete 
        <span class="text-primary">{{coursedto.name}}</span> 
        ?</strong></p><p>All information associated to this user Institution will be permanently deleted. <span class="text-danger">This operation can not be undone.</span></p></div>
</div>

<div class="modal-footer">
<button type="button" class="btn btn-secondary " (click)="modal.dismiss();">Cancel</button>
<button type="button" class="btn btn-danger " (click)="Delete(coursedto.id);modal.dismiss();">Delete</button>
</div>
  </ng-template>
  